<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Submitted Info</title>
    </head>
    <body>
        <p>Name: <%= name %></p>
        <p>Dojo Location: <%= location %></p>
        <p>Favorite Language: <%= language %></p>
        
        <%if (comment) { %>
            <p>Comment: <%= comment %> </p>
        <% } %>

    </body>
</html>