<!DOCTYPE html>
<html lang="en">
    <head>
        <title>counter</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link href="css/style.css" rel="stylesheet">-->
    </head>
    <body>
        <p>The counter is <%= counter %> </p>
        <form action="/add" method="post">
            <input type="submit" name="" value="add two">
        </form>
        <form action="/reset" method="post">
            <input type="submit" name="" value="reset">
        </form>
    </body>
</html>