<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>
  <body>
  <h1>Welcome to Quoting Dojo</h1>

  <form action="/quotes" method="post">
    <div>
      <label for="name">Your name: </label>
      <input type="text" name="name">
    </div>
    <div>
      <label for="quote">Your quote: </label>
      <textarea name="quote" rows="8" cols="40"></textarea>
    </div>
    <input type="submit" value="Add my quote">
    <a href="/quotes"><button type="button">Skip to quotes</button></a>
  </form>
  </body>
</html>
