<div>
  <p>MainComponent</p>
  <p>
    Quis exercitationem rerum eum dolorem. Et eum non fugiat quis. Animi aut itaque enim consequatur adipisci assumenda. Natus exercitationem maxime in quam non atque. Consequuntur voluptatem velit eum officiis ducimus aut.
  </p>
  <p>
    Quis exercitationem rerum eum dolorem. Et eum non fugiat quis. Animi aut itaque enim consequatur adipisci assumenda. Natus exercitationem maxime in quam non atque. Consequuntur voluptatem velit eum officiis ducimus aut. Quis exercitationem rerum eum dolorem. Et eum non fugiat quis. Animi aut itaque enim consequatur adipisci assumenda. Natus exercitationem maxime in quam non atque. Consequuntur voluptatem velit eum officiis ducimus aut.
  </p>
</div>
