<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="container">
		<div id="counter"></div>
		<p>Session name is currently: <%= name %></p>
		<form action="/users" method="post">
			<div>
				<label>Name</label>
				<input type="text" name="name">
			</div>
			<input type="submit" value="submit">
		</form>
		<div>
			<ul>
				<% for(let user of users) { %>
					<li><%= user.name %></li>
				<% } %>
			</ul>
		</div>
	</div>
	<script type="text/javascript">
		let n = localStorage.getItem('counter');
		console.log("n: ", n);
		if(n === null){
			n = 0;
		} else {
			console.log(n, typeof(n));
			n = parseInt(n);
		}
		n++;
		localStorage.setItem('counter', n);
		var el = document.getElementById('counter');
		el.innerHTML = n;
	</script>
</body>
</html>