<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Result</title>
</head>
<body>
  <h2>Submitted Information</h2>
  <p>Name : <%= userdata.name %></p>
  <p>Dojo Location : <%= userdata.dojo_location %></p>
  <p>Favorite Language : <%= userdata.fav_lang %></p>
  <p>Comment : <%= userdata.comment %></p>
  <a href="/goback"><button>Go Back</button></a>
</body>
</html>
