<div id="wrapper">
  <h1>US Time Zone Display</h1>
  <div class="content">
    <button (click)="currentTime('PST')" [ngClass]="{clicked: timezone === 'PST'}">PST</button>
    <button (click)="currentTime('MST')" [ngClass]="{clicked: timezone === 'MST'}">MST</button>
    <button (click)="currentTime('CST')" [ngClass]="{clicked: timezone === 'CST'}">CST</button>
    <button (click)="currentTime('EST')" [ngClass]="{clicked: timezone === 'EST'}">EST</button>
    <button (click)="reset()">Clear</button>
  </div>


  <h2>{{ myDate | date : 'medium' }}</h2>
  <h1>"Expected Time: 1hr" is wildly unrealistic. Screw this project, I'm moving on</h1>
</div>
