<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link href="css/style.css" rel="stylesheet">-->
    </head>
    <body>
        <h1>Summited Information</h1>
        <p>Name: <%= form.name%></p>
        <p>Dojo Location: <%= form.location%></p>
        <p>Favorite Language: <%= form.language%></p>
        <p>Comment: <%= form.comment%></p>
        <a href="/"><button type="">Go Back</button></a>
    </body>
</html>